/*

seletor {
    propriedade: valor;
    proprieadade: valor;
}
*/

.artigo{
    text-decoration: underline;
    text-transform: uppercase;
}

#apresentacao{
    color: rgb(13, 105, 21);
    font-size: large;
}
div p{
    font-size: 20px;
    color: #380274;
}
div > div > p{
    font-size: 10px;
    color: #380274;
}
div div p{
    font-size: 15px;
    color: red;
}
p {
    font-size: 12px;
    color: #380274;

}

div {
    font-size: 25px;
    color: rgba(0, 255, 100, 0.5);
}